{{> header}}
<script type="text/javascript">
    function addOption(){
        var html = $("#optionList").html();
        var option = $("#optionText").val();
        $("#optionText").val("");
        var newHtml = "<input hidden='' name='options[]' value ='"+option+"'>"+"<li>"+option+"</li><br>"+html
        $("#optionList").html(newHtml);
    }
</script>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" align="center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{#if message}}
        <div class="alert alert-info" align="center">
            {{message}}
        </div>
        {{/if}}
        <form method="post" action="">
            <label>Title: </label><input type="text" name="title"><br><br>
            <label align="left">Description: </label><br><textarea rows="3" id="desc" name="desc" placeholder="Enter the description of Poll"></textarea><br><br>
            <div id="options">
                <label>Options</label>
                <ul id="optionList">

                </ul>
                <input id="optionText" type="text">
                <input type="button" class="btn btn-info" onclick="addOption()" value="Add">
            </div>
            <br><br><input type="submit" class="btn btn-success" value="Create Poll" align="center">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{{> footer}}